<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ToDo SPA</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <header>
        <h1><span>ToDO</span> List</h1>
        <h2>Simple ToDo app list built with Node</h2>
    </header>


    <section class="form">
        <input type="text" id="todo-input" placeholder='Input here your tasks for a day'>
    </section>

    <ul class="list"></ul>

    <script src="jquery.js"></script>
    <script src="app.js"></script>
</body>

</html>